

.body{
	padding:0px;
	margin:0px;
	font-size:20px;
}

.heading{
	color:white;
	margin-left: 1.5rem;
}
.game-area{
	margin-left:35%;
	margin-top: 5rem;

}
.grid-section{
	margin-top:2rem;
	display: grid;
	grid-template-columns: 10% 10% 10%;
	
}

.grid-box{
	font-size: 170%;
	border:2px solid #09051c;
	height:3rem;
	background-color: white;
	
}

.hover-class{
	background-color: white;
	transition: background-color !important;
}

.hover-class:hover{
	background-color: lightgreen !important;
}

#who-won{
	color:white;
	}



#continue-button{
	font-family:sans-serif;
	display:inline-block;
	margin-top:1rem;
	background-color:rgb(50,50,50);
	border:0.05rem solid white;
	padding:0.09rem 0.3rem 0.09rem 0.3rem;
	font-size:100%;
	font-weight:bolder;
	border-radius:0.5rem;
	margin-right:2rem;
}


#reset-button{
	cursor:pointer;
	color:white;
	background-color:rebeccapurple;
	font-family:sans-serif;
	display:inline-block;
	margin-top:1rem;
	border:0.05rem solid white;
	padding:0.09rem 0.3rem 0.09rem 0.3rem;
	font-size:100%;
	font-weight:bolder;
	border-radius:0.5rem;
}
@media screen and (max-width:800px){
	.grid-section{

	grid-template-columns: 15% 15% 15%;
}

@media screen and (max-width:597px){
	.grid-section{
	grid-template-columns: 20% 20% 20%;
}}

@media screen and (max-width:400px){
	.grid-section{
	grid-template-columns: 25% 25% 25%;}

	.game-area{
	margin-left:22%;}
}

@media screen and (max-width:260px){
		.grid-section{
	grid-template-columns: 35% 35% 35%;}

	.game-area{
	margin-left:-5%;
}
#who-won{
	margin-left:1rem;
}
}

@media screen and (max-width:97px){
		.grid-section{
	grid-template-columns: 70% 70% 70%;}
}